/*Bootstrap Variables*/
$primary: #292F39;
$secondary: #F6CA18;
$light: #D0CFCE;
$dark: #181A20;
/*My Variables*/
$transition-fast-spped: 0.25s;
$transition-speed: 0.4s;
$common-border-radius: 0.5em;
$big-border-radius: 1.0em;
$button-font-weight: 200;
$navbar-brand-font-weight: 400;
$section-margin: 2em;
$card-border-color-hover: #f6ca1886;

@import "node_modules/bootstrap/scss/bootstrap";

/*General*/
body {
    font-family: "Vazirmatn", sans-serif;
}

.btn {
    border-radius: $common-border-radius;
    font-weight: $button-font-weight;
    transition: background-color $transition-speed ease-in-out, border-color $transition-speed ease-in-out, color $transition-speed ease-in-out;
}

.btn:hover {
    background-color: $secondary;
    border-color: $secondary;
}

.btn-primary {
    border-radius: $big-border-radius;
    padding: 0.5em 1.5em;
}

.btn-primary:hover {
    color: black;
}

/*The arrow icon for navbar dropdowns*/
.dropdown-toggle::after {
    border: none !important;
    background-image: url(images/expand-arrow-white.png)!important;
    margin-right: 0.2em;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background-size: contain;
    transition: transform $transition-fast-spped ease-in-out;
    filter: invert(96%) sepia(3%) saturate(79%) hue-rotate(349deg) brightness(87%) contrast(91%);
}

.dropdown:hover {
    .dropdown-toggle::after {
        transform: rotate(180deg);
        filter: invert(83%) sepia(69%) saturate(1339%) hue-rotate(339deg) brightness(96%) contrast(102%);
    }
}

a {
    color: black;
    text-decoration: none; /* Have to say it again because of bootstrap overriding it from reset file*/
}

/*Header & navbar*/
header {
    background: linear-gradient(0deg, rgba(24,26,32,1), rgb(112, 112, 80));
    /* overflow: hidden; */ /*For some reason there is whitespace without this line*/
}

#top-navbar {
    background: linear-gradient(0deg, rgba(255,0,0,0), rgba(0,0,0,0.75));
}

.navbar-brand {
    font-weight: $navbar-brand-font-weight;
}

.nav-link {
    color: $light;
}

.dropdown-menu {
    border-radius: 1em;
}

.dropdown-item {
    color: $light;
    text-align: start;
    width: 90%; /* Gives space to left and right of the item so it has space when hovered*/
    border-radius: $common-border-radius;
    margin: 0.25em 0.5em;
    transition: background-color $transition-speed ease-in-out, color $transition-speed ease-in-out;
}

.dropdown-item:hover {
    background-color: $secondary;
}

#topnavbar-menu .nav-link {
    transition: color $transition-speed ease-in-out;
}

#topnavbar-menu .nav-link:hover {
    color: $secondary;
}

#topnavbar-menu .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

#topnavbar-left-mobile svg {
    color: $light;
}

/*Scrollable movie list*/
.horizontal-scrollable { 
    overflow: hidden; /*REMOVE THE SCROLL BAR ON DESKTOP*/
}

.card {
    background: none;
    width: 12em;
    margin-bottom: auto; /*Sets empty space at the bottom of the card as margin, so the card is not yellow when hovering over the margin*/

    &:hover {

        .card-img-top {
            border-color: $card-border-color-hover;
            transform: scale(1) translateY(0.4em);
        }

        .card-title {
            color: $secondary;
            transform: scale(1.2);
        }

        .card-text {
            color: $secondary;
        }
    }
}

.card-img-top {
    border: 4px solid #f6ca1800;
    transform: scale(0.95) translateY(0.5em);
    border-radius: $big-border-radius;
}

.card-body {
    padding-bottom: 0; /*Because hovering over the padding lights the card up and i dont want that*/
}

.card-title {
    transition: color $transition-fast-spped ease-in-out, transform $transition-fast-spped ease-in-out;
}

.card-text {
    transition: color $transition-fast-spped ease-in-out;
}

/*Main (middle) body content*/
main {
    background: rgba(24,26,32,1);
}

.filter-dropdown {
    font-size: 20px;
}

/*Select2 dropdowns...*/
.select2 {
    width: 125px !important;
}

/*The main label*/
.select2-selection {
    padding: 1em 0.5em 1em 0;
    border-radius: $big-border-radius !important;
    background-color: $primary !important;
    border: none !important;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.651);
}

/*The text in the label*/
.select2-selection__rendered {
    color: $light !important;
    position: absolute;
    bottom: 15%;
}

/*The arrow icon*/
.select2-selection__arrow b {
    background-image: url(images/expand-arrow-white.png) !important;
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 15px !important;
    width: 15px !important;
    top: 60% !important;
    left: 1em !important;
    transition: transform $transition-speed ease-in-out;
    /*The white color*/
    filter: invert(96%) sepia(3%) saturate(79%) hue-rotate(349deg) brightness(87%) contrast(91%);
}

/*When the label is hovered, rotate the arrow*/
.select2:hover {
    .select2-selection__arrow b {
        transform: rotate(180deg);
    }
}

/*The menu that opens when you click on the label*/
.select2-dropdown {
    width: 175px !important;
    padding-right: 0.5em;
    margin-top: 0.5em;
    border-radius: $big-border-radius !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    box-shadow: 0px 0px 15px 4px black;
}

/*Every option in the box should have transparent bg and have white text if not highlighted*/
.select2-results__option--selectable {
    color: $light;
    background: none !important;
}

/*A highlighted option should be yellow*/
.select2-results__option--highlighted {
    color: $secondary !important;
    background: none !important;
}

/*Footer*/
footer {
    box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.5);
}

/*Media Queries*/
@media (max-width: 991.98px) { 
    .horizontal-scrollable {
        overflow: auto;
    }
}

