/*Bootstrap Variables*/
$primary: #292F39;
$secondary: #F6CA18;
$light: #D0CFCE;
$dark: #181A20;
/*My Variables*/
$transition-speed: 0.4s;
$button-font-weight: 200;
$navbar-brand-font-weight: 400;

@import "node_modules/bootstrap/scss/bootstrap";

/*General*/
body {
    font-family: "Vazirmatn", sans-serif;
}

.btn {
    font-weight: $button-font-weight;
    transition: background-color $transition-speed ease-in-out, border-color $transition-speed ease-in-out, color $transition-speed ease-in-out;
}

.btn:hover {
    background-color: $secondary;
    border-color: $secondary;
}

a {
    color: black;
    text-decoration: none; /* Have to say it again because of bootstrap overriding it from reset file*/
}

/*Header & navbar*/
header {
    background:  linear-gradient(0deg, rgba(24,26,32,1) 0%, rgba(94,111,76,1) 100%);
}

#top-navbar {
    background-image: linear-gradient(0deg, rgba(255,0,0,0), rgba(0,0,0,0.75));
}

.navbar-brand {
    font-weight: $navbar-brand-font-weight;
}

#movies-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

#topnavbar-left-mobile svg {
    color: $light;
}

/*Main (middle) body content*/


